body {
    background-color: #2C394B;
    width: 100%;
}

#pageTop {
    width: 100%;
}

#container {
    width: 80%;
}

.barraNav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.bgFotos {
    background-color: #2C394B;
    background-size: cover;
}

.bgHeader {
    background-color: #082032;
    background-size: cover;
}

.bgNav {
    background-image: url(../assets/images/fondinho.png);
    background-size: cover;
    padding-bottom: 0.5rem;
    background-color: #082032;
}

.colorSeparador {
    background-color: #FFD523;
    padding-top: 35px;
}

.firstRowPics {
    width: 100%;
    padding-left: 75px;
    padding-top: 50px;
    align-items: center;
}

.fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.footer {
    background-color: #FF4C29;
    padding-top: 25px;
    padding-bottom: 15px;
}

.fotos {
    width: 100%;
}

.header {
    padding-top: 225px;
    padding-bottom: 175px;
}

.imgJere {
    height: 350px;
    width: 280px;
}

.imgNabue {
    height: 350px;
    width: 300px;
}

.imgRodri {
    height: 350px;
    width: 300px;
    margin-left: 15px;
}

.imgTiago {
    height: 350px;
    width: 300px;
}

.imgNacho {
    height: 350px;
    width: 300px;
}

.imgMail {
    height: 100px;
    width: 100px;
}

.imgGit {
    height: 100px;
    width: 100px;
}

.imglinkedin {
    height: 100px;
    width: 100px;
}

.itemRedes {
    padding-right: 50px;
    align-items: flex-end;
    float: right;
}

.linkNombres {
    text-decoration: none;
}

.listaNav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.listaRedes {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    padding-right: 50px;
}

.ms-auto {
    margin-right: 1rem;
    padding-left: 5rem;
}

.md-1 {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.md-2 {
    margin-top: 1.25rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
}

.navLogo {
    width: 7.5rem;
    height: 6rem;
    padding-left: 1.5rem;
    padding-top: 0rem;
}

.navItem {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: azure;
}

.nombreRedes {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    padding-right: 50px;
    padding-top: 25px;
}

.redes {
    background-color: #FF4C29;
    width: 100%;
    float: left;
}

.secondRowPics {
    padding-top: 75px;
    padding-bottom: 100px;
    width: 100%;
    padding-left: 150px;
    align-items: center;
}

.textHeader1 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: azure;
    padding-right: 1rem;
}

.textHeader2 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: azure;
    padding-left: 1rem;
}

.tituloHeader {
    text-align: center;
    font-size: 7.5rem;
    font-family: 'Stick No Bills', sans-serif;
    color: azure;
    margin-bottom: 5rem;
}

.tituloTeam {
    font-family: 'Stick No Bills', sans-serif;
    color: azure;
    text-align: center;
    font-weight: bold;
    font-size: 75px;
    padding-top: 175px;
}

.tituloImg1 {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding-left: 75px;
    color: azure;
}

.tituloImg2 {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding-left: 110px;
    color: azure;
}

.tituloImg3 {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding-left: 100px;
    color: azure;
}

.tituloImg4 {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding-left: 110px;
    color: azure;
}

.tituloImg5 {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding-left: 110px;
    color: azure;
}

.tituloFooter {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #082032;
}


/*

ESTILOS DE LOS PERFILES

*/

#perfil {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #082032;
    width: 100%;
}

.imgPerfil1 {
    width: 550px;
    height: 700px;
    padding-left: 50px;
}

.imgPerfil2 {
    width: 550px;
    height: 700px;
    padding-left: 50px;
}

.imgInsta {
    width: 110px;
    height: 110px;
}

.imgTw {
    width: 110px;
    height: 110px;
}

.itemListaPerfil1 {
    padding-top: 15px;
    list-style-type: none;
}

.itemRedesPerfil {
    padding-left: 100px;
    list-style-type: none;
}

.itemTextoRedes {
    list-style-type: none;
}

.listaDatosPerfil {
    padding-left: 7.5rem;
    list-style: none;
    padding-top: 225px;
}

.listaRedesPerfil {
    padding-left: 50px;
    padding-top: 75px;
    list-style: none;
    display: flex;
}

.tituloImgPerfil1 {
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: azure;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 150px;
}

.textoLista {
    color: azure;
    font-family: 'Red Hat Mono', monospace;
    text-align: justify;
    font-size: 25px;
}

.textoRedes {
    color: azure;
    font-family: 'Red Hat Mono', monospace;
    text-align: justify;
    padding-top: 30px;
    font-size: 40px;
    align-items: center;
    text-decoration: underline;
}